@page "/Home"
@model PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel
@{
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Thêm thẻ script để tải Lodash từ CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container mt-3">
    <div class="row">
        <form method="post">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="city">Thành phố</label>
                    <select class="form-control" id="citySelect" asp-for="@Model.SearchHouse.ProvinceCode" onchange="LocationChange()">
                        <option value="">Chọn tỉnh thành</option>
                        @foreach (var item in Model.provinces)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="district">Quận</label>
                    <select class="form-control" id="districtSelect" asp-for="@Model.SearchHouse.DistrictCode" onchange="LocationChange()">
                        <option value="">Chọn Quận</option>
                        @foreach (var item in Model.districts)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="district">Phường/Xã</label>
                    <select class="form-control" id="wardSelect" asp-for="@Model.SearchHouse.WardCode" onchange="">
                        <option value="">Chọn Phường/Xã</option>
                        @foreach (var item in Model.wards)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <script>
                function LocationChange() {
                    var city = @Html.Raw(Json.Serialize(Model.provinces));
                    var district = @Html.Raw(Json.Serialize(Model.districts));
                    var ward = @Html.Raw(Json.Serialize(Model.wards));

                    var citySelect = document.getElementById("citySelect");
                    var districtSelect = document.getElementById("districtSelect");
                    var wardSelect = document.getElementById("wardSelect");

                    for (var i = 0; i < districtSelect.options.length; i++) {
                        var foundElement = _.find(district, { 'code': districtSelect.options[i].value.toString() });
                        if (foundElement) {
                            if (foundElement.provinceCode == citySelect.value) {
                                districtSelect.options[i].style.display = "block";
                            } else {
                                districtSelect.options[i].style.display = "none";
                            }
                        }
                    }

                    for (var i = 0; i < wardSelect.options.length; i++) {
                        var foundElement = _.find(ward, { 'code': wardSelect.options[i].value.toString() });
                        if (foundElement) {
                            if (foundElement.districtCode == districtSelect.value) {
                                wardSelect.options[i].style.display = "block";
                            } else {
                                wardSelect.options[i].style.display = "none";
                            }
                        }
                    }

                }
            </script>
            
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="min-price-slider">Giá thấp nhất</label>
                            <input type="range" class="form-range" id="min-price-slider" min="0" max="100000000">
                        </div>
                        <div class="form-group">
                            <input type="number"   asp-for="@Model.SearchHouse.MinPrice" class="form-control" id="min-price-input" placeholder="Giá thấp nhất">
                        </div>

                        <div class="form-group">
                            <label for="max-price-slider">Giá cao nhất</label>
                            <input type="range" class="form-range" id="max-price-slider" min="0" max="100000000">
                        </div>
                        <div class="form-group">
                            <input type="number" asp-for="@Model.SearchHouse.MaxPrice" class="form-control" id="max-price-input" placeholder="Giá cao nhất">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Lấy các phần tử DOM
                var minPriceSlider = document.getElementById("min-price-slider");
                var maxPriceSlider = document.getElementById("max-price-slider");
                var minPriceInput = document.getElementById("min-price-input");
                var maxPriceInput = document.getElementById("max-price-input");

                minPriceSlider.value = minPriceSlider.min;
                maxPriceSlider.value = maxPriceSlider.max;
                minPriceInput.value = minPriceSlider.min;
                maxPriceInput.value = maxPriceSlider.max;

                // Xử lý sự kiện khi giá trị trong ô input thấp nhất thay đổi
                minPriceInput.oninput = function () {
                    // Cập nhật giá trị của thanh trượt giá thấp nhất
                    minPriceSlider.value = this.value;
                };

                // Xử lý sự kiện khi giá trị trong ô input cao nhất thay đổi
                maxPriceInput.oninput = function () {
                    // Cập nhật giá trị của thanh trượt giá cao nhất
                    maxPriceSlider.value = this.value;
                };

                // Xử lý sự kiện khi giá trị của thanh trượt giá thấp nhất thay đổi
                minPriceSlider.oninput = function () {
                    // Cập nhật giá trị của ô input thấp nhất
                    minPriceInput.value = this.value;
                };

                // Xử lý sự kiện khi giá trị của thanh trượt giá cao nhất thay đổi
                maxPriceSlider.oninput = function () {
                    // Cập nhật giá trị của ô input cao nhất
                    maxPriceInput.value = this.value;
                };
            </script>
         
         
            
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="min-slider">Diện tích thấp nhất</label>
                            <input type="range" class="form-range" id="min-slider" min="0" max="100000000">
                            <input type="number" asp-for="@Model.SearchHouse.MinArea" class="form-control mt-2" id="min-input" placeholder="Diện tích thấp nhất">
                        </div>
                        <div class="form-group">
                            <label for="max-slider">Diện tích cao nhất</label>
                            <input type="range" class="form-range" id="max-slider" min="0" max="100000000">
                            <input type="number" asp-for="@Model.SearchHouse.MaxArea" class="form-control mt-2" id="max-input" placeholder="Diện tích cao nhất">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Lấy các phần tử DOM
                var minSlider = document.getElementById("min-slider");
                var maxSlider = document.getElementById("max-slider");
                var minInput = document.getElementById("min-input");
                var maxInput = document.getElementById("max-input");

                // Thiết lập giá trị ban đầu cho input và slider
                minSlider.value = minSlider.min;
                maxSlider.value = maxSlider.max;
                minInput.value = minSlider.min;
                maxInput.value = maxSlider.max;

                // Xử lý sự kiện khi giá trị thanh trượt thay đổi
                minSlider.oninput = function () {
                    // Cập nhật giá trị của ô input thấp nhất
                    minInput.value = this.value;
                };

                maxSlider.oninput = function () {
                    // Cập nhật giá trị của ô input cao nhất
                    maxInput.value = this.value;
                };

                // Xử lý sự kiện khi giá trị trong ô input thay đổi
                minInput.oninput = function () {
                    // Cập nhật giá trị của thanh trượt thấp nhất
                    minSlider.value = this.value;
                };

                maxInput.oninput = function () {
                    // Cập nhật giá trị của thanh trượt cao nhất
                    maxSlider.value = this.value;
                };
            </script>



            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </form>
        @foreach (var house in Model.houses)
        {
            <div class="col-md-4 mt-3">
                <div class="card">
                    <img src="@house.Image" class="card-img-top" alt="Ảnh căn nhà @house.Title">
                    <div class="card-body">
                        <h5 class="card-title">@house.Title</h5>
                        <p class="card-text">Giá: @house.Price VND/tháng</p>
                        <p class="card-text">Diện tích: @house.Area m²</p>
                        <p class="card-text">Vị trí: @house.Location</p>
                        <p class="card-text">Phòng @house.Type người</p>
                        <p class="card-text">Còn Trống @house.Quantity</p>
                        <p class="card-text">Mô tả: @house.Description</p>
                        <p class="card-text">Đã đăng @house.DaysAgo ngày trước</p>
                        <p class="card-text">Is Active @house.IsActive.ToString()</p>
                        <p class="card-text">Rate @house.Rate</p>
                        <p class="card-text">Full Location @house.ProvinceCodeNavigation.Name @house.DistrictCodeNavigation.Name @house.WardCodeNavigation.Name</p>
                        <a href="#" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        }
        <button style="min-height:50px;margin:50px;" type="button" class="btn btn-primary">Show More ...</button>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@if ((Model.MessageResponse) != null)
{
    if (Model.MessageResponse.ErrorCode == 200)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thông Báo',
                html: '@Model.MessageResponse.ToString()',
            });
        </script>
    }
    else
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Thông Báo',
                html: '@Model.MessageResponse.ToString()',
            });
        </script>
    }
}