@page "/Home"
@model PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel
@{
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container mt-3">
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label for="city">Thành phố</label>
                <form id="provinceForm" method="post" asp-page-handler="GetDistricts">
                    <select class="form-control" id="citySelect" onchange="updateSearchHouseProvinceCode()">
                        <option value="">Chọn tỉnh thành</option>
                        @foreach (var item in Model.provinces)
                        {
                            if (!string.IsNullOrEmpty(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.ProvinceCode))
                            {
                                if (item.Code.Equals(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.ProvinceCode))
                                {
                                    <option selected value="@item.Code">@item.Name</option>
                                }
                            }
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                    <input id="SearchHouseProvinceCode" name="selectedProvinceCode" hidden></input>
                    <script>
                        function updateSearchHouseProvinceCode() {
                            var selectElement = document.getElementById("citySelect");
                            var selectedProvinceCode = selectElement.value;
                            document.getElementById("SearchHouseProvinceCode").value = selectedProvinceCode;
                            document.getElementById("provinceForm").submit();
                        }
                    </script>
                </form>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="district">Quận</label>
                <form id="districtsForm" method="post" asp-page-handler="GetAllWards">
                    <select class="form-control" id="districtSelect" onchange="updateSelectedDistrictCode()">
                        <option value="">Chọn Quận</option>
                        @foreach (var item in Model.districts)
                        {
                            if (!string.IsNullOrEmpty(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.DistrictCode))
                            {
                                if (item.Code.Equals(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.DistrictCode))
                                {
                                    <option selected value="@item.Code">@item.Name</option>
                                }
                            }
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                    <input id="SelectedDistrictCode" name="SelectedDistrictCode" hidden />
                    <script>
                        function updateSelectedDistrictCode() {
                            var selectElement = document.getElementById("districtSelect");
                            var selectedProvinceCode = selectElement.value;
                            document.getElementById("SelectedDistrictCode").value = selectedProvinceCode;
                            document.getElementById("districtsForm").submit();
                        }
                    </script>
                </form>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="district">Phường/Xã</label>
                <form id="wardsForm" method="post" asp-page-handler="SetWard">
                    <select class="form-control" id="wardSelect" onchange="updateSelectedWardCode()">
                        <option value="">Chọn Phường/Xã</option>
                        @foreach (var item in Model.wards)
                        {
                            if (!string.IsNullOrEmpty(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.WardCode))
                            {
                                if (item.Code.Equals(PRN231_HE160575_Project04_Client.Pages.Houses.HomeModel.SearchHouse.WardCode))
                                {
                                    <option selected value="@item.Code">@item.Name</option>
                                }
                            }
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                    <input id="SelectedWardCode" name="SelectedWardCode" hidden />
                    <script>
                        function updateSelectedWardCode() {
                            var selectElement = document.getElementById("wardSelect");
                            var selectedProvinceCode = selectElement.value;
                            document.getElementById("SelectedWardCode").value = selectedProvinceCode;
                            document.getElementById("wardsForm").submit();
                        }
                    </script>
                </form>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="price-slider">Mức giá</label>
                <input type="range" class="form-range" id="price-slider" @* value="@Model.Price" *@ @* @onchange="HandlePriceChange" *@>
            </div>
            <div class="row">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Giá thấp nhất">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Giá cao nhất">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="area-slider">Diện tích</label>
                <input type="range" class="form-range" id="area-slider" @* value="@Model.Area" *@ @* @onchange="HandleAreaChange" *@>
            </div>
            <div class="row">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Diện tích thấp nhất">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Diện tích cao nhất">
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <button type="button" class="btn btn-primary">Tìm kiếm</button>
        </div>

        @foreach (var house in Model.houses)
        {
            <div class="col-md-4 mt-3">
                <div class="card">
                    <img src="@house.Image" class="card-img-top" alt="Ảnh căn nhà @house.Title">
                    <div class="card-body">
                        <h5 class="card-title">@house.Title</h5>
                        <p class="card-text">Giá: @house.Price VND/tháng</p>
                        <p class="card-text">Diện tích: @house.Area m²</p>
                        <p class="card-text">Vị trí: @house.Location</p>
                        <p class="card-text">Phòng @house.Type người</p>
                        <p class="card-text">Còn Trống @house.Quantity</p>
                        <p class="card-text">Mô tả: @house.Description</p>
                        <p class="card-text">Đã đăng @house.DaysAgo ngày trước</p>
                        <p class="card-text">Is Active @house.IsActive.ToString()</p>
                        <p class="card-text">Rate @house.Rate</p>
                        <p class="card-text">Full Location @house.ProvinceCodeNavigation.Name @house.DistrictCodeNavigation.Name @house.WardCodeNavigation.Name</p>
                        <a asp-route-id="@house.HouseId" asp-page="HouseDetail" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        }
        <button style="min-height:50px;margin:50px;" type="button" class="btn btn-primary">Show More ...</button>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@if ((Model.MessageResponse) != null)
{
    if (Model.MessageResponse.ErrorCode == 200)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thông Báo',
                html: '@Model.MessageResponse.ToString()',
            });
        </script>
    }
    else
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Thông Báo',
                html: '@Model.MessageResponse.ToString()',
            });
        </script>
    }
}